

docker.enabled = true
 
process {
  withLabel: irods              { container = 'quay.io/cellgeni/irods2' }
  withName: merge_from_cram_set { container = 'quay.io/biocontainers/samtools:1.8--4' }
  withName: crams_to_fastq      { container = 'quay.io/biocontainers/samtools:1.8--4' }
  withName: tar_crams           { container = 'python:3.7' }
} 


